/* Global Styles */


body{
  /* background-color: #eff1f2; */
  background-color: white;
  /* background-image: ; */
} 


.body-frontpage {
  background-image: url('/home/avanish/code/ConvergentCloneCode/Convergent-Health-Hospital2.0/Bridge-Bill/src/images/Screenshot 2024-04-28 221020.png');
  background-size: cover;
  background-position: center;
}

.body-otherpages {
  background-color: white;
  background-size: cover;
  /* background-position: center; */
  background-attachment: fixed;
}


.subheading {
  color: #666666;
  font-size: calc(30px);
  font-weight: 400;
  text-align: left;
}

.language-chooser {
  position: absolute; /* Set the position of the text to absolute */
  top: 10px; /* Adjust the top position */
  left: calc(150px + 150vmin); /* Adjust the left position */
  font-size: 24px; /* Adjust the font size */
}

/*
  
  */


.container {
  text-align: center;
  padding: 20px;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}


.language-selector {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color:#000;
}

.language-selector img {
  margin-left: 8px;
  width: 24px; /* Adjust as necessary */
  height: auto;
}

/* Styles for Main Content */
.main-content h1 {
  font-size: calc(10px + 2vmin);
  color: #000; /* Adjust the color to fit your design */
  text-align: left;
  margin: 0;
  font-weight: 700;
}

.main-content p {
  font-size: calc(5px + 1vmin);
  color: #555;
  text-align: left;
}

.size{
  transform: scale(1)
}

/* Button Styles */
.get-started-btn {
  padding: 15px 20px;
  font-size: calc(5px + 1vmin);
  color: #fff;
  background-color: #007bff; /* Blue background */
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

.get-started-btn:hover.english {
  background-color: #276cac; /* Darker blue on hover */
}

/* Language-specific Styles */
/* .title.english {
  font-size: 3.5em;
  font-weight: 750;
  margin-bottom: 0em;
  color: #1d2e32;
  text-align: left;
  position: relative;
  right: 40%;
  letter-spacing: -4px;
  margin-top: 24%;

} 

.subtitle.english {
  font-size: 1.25em; 
  color: black; 
  margin-bottom: 1em;
  position: relative;
  right: 39.5%;
  margin-top: 2%;
  
}

.get-started-btn.english {
  padding: 15px 20px;
  font-size: 1em; 
  color: black;
  background-color: #3A94E7; 
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  right: 79%;

}

*/

.title.english{
  margin-top: 15.5%;
  padding-right: 7%;
  font-size: 3.25em;
  font-weight: 750;
  margin-left: 5%;
  letter-spacing: -2px;
}

.subtitle.english{
  font-size: 1.25em; 
  color: black; 
  margin-left: 5%;
}

.get-started-btn.english {
  padding: 15px 20px;
  font-size: 1em; 
  color: black;
  background-color: #3A94E7; 
  border-radius: 10px;
  margin-right: 80%;
}
.size{
  transform: scale(1.5)
}
/* 
.title.spanish {
  font-size: 3.3em;
  font-weight: 750;
  margin-bottom: 0.1em;
  color: #000;
  text-align: left;
  position: relative;
  right: 29%;
  letter-spacing: -4px;
  margin-top: 22%;
  
}

.subtitle.spanish {
  font-size: 1.3em; 
  color: black;
  margin-bottom: 1em;
  position: relative;
  right: 29%;
  margin-top: 2%;
}

.get-started-btn.spanish {
  padding: 15px 22px;
  font-size: 1em; 
  color: black;
  background-color: #3A94E7; 
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  right: 70%;
} */

.title.spanish{
  margin-top: 12.5%;
  padding-right: 7%;
  font-size: 3.25em;
  font-weight: 750;
  margin-left: 5%;

}

.subtitle.spanish{
  font-size: 1.25em; 
  color: black; 
  margin-left: 5%;
}

.get-started-btn.spanish {
  padding: 15px 20px;
  font-size: 1em; 
  color: black;
  background-color: #3A94E7; 
  border-radius: 10px;
  margin-right: 81%;
}

/* 
.title.mandarin {
  font-size: 3.5em;
  font-weight: 750;
  margin-bottom: 0.1em;
  color: #000;
  text-align: left;
  position: relative;
  right: 30%;
  letter-spacing: -3px;
  margin-top: 24%;
}

.subtitle.mandarin {
  font-size: 1.5em;
  color: #555; 
  margin-bottom: 1em;
  position: relative;
  right: 30%;
}

.get-started-btn.mandarin {
  padding: 15px 40px;
  font-size: 1em;
  color: black;
  background-color: #3A94E7; 
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  right: 71%;
} */


.title.mandarin{
  margin-top: 12.5%;
  padding-right: 7%;
  font-size: 3.25em;
  font-weight: 750;
  margin-left: 5%;

}

.subtitle.mandarin{
  font-size: 1.25em; 
  color: black; 
  margin-left: 5%;
}

.get-started-btn.mandarin {
  padding: 15px 40px;
  font-size: 1em; 
  color: black;
  background-color: #3A94E7; 
  border-radius: 10px;
  margin-right: 80%;
}
/* 
.title.arabic {
  font-size: 3.5em;
  font-weight: 750;
  margin-bottom: 0.1em;
  color: #000;
  text-align: left;
  position: relative;
  right: 40%;
  letter-spacing: -3px;
  margin-top: 29%;
}

.subtitle.arabic {
  font-size: 1.5em; 
  color: #555; 
  margin-bottom: 1em;
  position: relative;
  right: 40%;
}

.get-started-btn.arabic {
  padding: 10px 35px;
  font-size: 1.6em; 
  color: black;
  background-color: #3A94E7; 
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  right: 82%;
} */


.title.arabic{
  margin-top: 12.5%;
  padding-right: 7%;
  font-size: 3.25em;
  font-weight: 750;
  margin-left: 5%;

}

.subtitle.arabic{
  font-size: 1.25em; 
  color: black; 
  margin-left: 5%;
}

.get-started-btn.arabic {
  padding: 10px 35px;
  font-size: 1.6em; 
  color: black;
  background-color: #3A94E7; 
  border-radius: 10px;
  margin-right: 82%;
}

